<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hallo_Doc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hallo_Doc.styles.css" asp-append-version="true" />
</head>
<body>
   
    
        <main role="main" >
            @RenderBody()
        </main>
    

    <footer>
        <ul class="list-inline">

            <li class="list-inline-item"><a href="#" class="text-secondary">Terms of Conditions  |</a></li>
            <li class="list-inline-item"><a href="#" class="text-secondary">Privacy Policy</a></li>
        </ul>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
