<div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color:chocolate">
                <h5 class="modal-title" id="exampleModalLabel">Student Form</h5>
                <button type="button" class="close" data-bs-dismiss="modal" style="background-color:chocolate">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="EditStudent" asp-controller="Home" method="post">
                
                <div class="modal-body">

                    <div class="row g-2">
                        <div class="form-floating col-md-6 col-sm-12 mb-3">
                            <input type="text" id="firstName_edit" name="FirstName" class="form-control" placeholder="FirstName" disabled>
                            <label for="firstName_edit">FirstName</label>
                        </div>
                        <div class="form-floating col-md-6 col-sm-12 mb-3">
                            <input type="text" id="lastName_edit" name="LastName" class="form-control" placeholder="LastName" disabled>
                            <label for="lastName_edit">LastName</label>
                        </div>
                        <div class="form-floating col-md-6 col-sm-12 mb-3">
                            <input type="text" id="email_edit" name="Email" class="form-control" placeholder="Email" disabled>
                            <label for="email_edit">Email</label>
                        </div>
                        <div class="form-floating col-md-6 col-sm-12 mb-3">
                            <input type="date" id="birth_edit" name="BirthDate" class="form-control" placeholder="Birth" disabled>
                            <label for="birth_edit">Date Of Birth</label>
                        </div>
                        <input type="hidden" value=" " id="Student_edit" name="StudentId">
                    </div>
                    <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="radio" name="Gender" id="male_edit" value="Male" disabled>
                        <label class="form-check-label" for="male_edit">Male</label>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="radio" name="Gender" id="female_edit" value="Female" disabled>
                        <label class="form-check-label" for="female_edit">Female</label>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="radio" name="Gender" id="others_edit" value="Others" disabled>
                        <label class="form-check-label" for="others_edit">Others</label>
                    </div>
                    <div class="row g-2">
                        <div class="form-floating col-md-6 col-sm-12 mb-3">
                            <select class="form-select" name="Grade" id="grade_edit" disabled>
                                <option value="">Grade</option>
                                <option value="1st-3rd">1st-3rd</option>
                                <option value="4th-6th">4th-6th</option>
                                <option value="7th-9th">7th-9th</option>
                                <option value="10th-12th">10th-12th</option>
                            </select>
                            <label for="grade_edit">Grade</label>
                        </div>
                        <div class="form-floating col-md-6 col-sm-12 mb-3">
                            <input type="text" id="course_edit" name="Course" class="form-control" placeholder="Course" disabled>
                            <label for="course_edit">Course</label>
                        </div>
                        <div style="text-align:center">
                            <button type="button" data-bs-dismiss="modal" class="btn btn-light">Cancel</button>
                            <button type="button" id="editButton" class="btn btn-primary" onclick="editMode()">Edit</button>
                            <button type="submit" id="submitButton" class="btn btn-success text-white" style="display:none">Save</button>
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
<script>
    function editMode() {
        var formFields = document.querySelectorAll('#editStudentModal input, #editStudentModal select');
        formFields.forEach(function (field) {
            field.disabled = !field.disabled;
        });
        var submitButton = document.getElementById('submitButton');
        var editButton = document.getElementById('editButton');
        submitButton.style.display = submitButton.style.display === 'none' ? 'inline' : 'none';
        editButton.style.display = 'none';
    }
</script>