@model Hallo_Doc.Entity.ViewModel.ConciergeReq;
@{
    ViewData["Title"] = "Create_concierge_req";
    Layout = "~/Views/Shared/_createPatientLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="~/css/create_request.css" rel="stylesheet">
</head>
<body class="bg-light">
    
    <div class="container">

        <div class="g-2" style="text-align: right;">
            <a class="btn btn-outline-info out back" asp-action="Create_request" asp-controller="PatientReq">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg> Back
            </a>
        </div>
        <div class="content">
            <form asp-action="Create_concierge_req" asp-controller="PatientReq" method="post">
            <div class="row g-2 first">
                <p class="mt-4">Concirge Information</p>
                <div class="row g-2">
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" asp-for="c_firstname" class="form-control" id="c_firstname" placeholder="Your Firstname">
                            <label for="c_firstname">Your Firstname</label>
                            <span asp-validation-for="c_firstname" class="text-danger"></span>
                    </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" asp-for="c_lastname" class="form-control" id="c_lastname" placeholder="Your Lastname">
                            <label for="c_lastname">Your Lastname</label>
                    </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="tel" asp-for="c_mobile" class="form-control" id="c_mobile" placeholder="123-45-67">
                            <label for="c_mobile">Mobile</label>
                    </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="email" asp-for="c_email" class="form-control" id="c_email" placeholder="Your Email">
                            <label for="c_email">Your Email</label>
                            <span asp-validation-for="c_email" class="text-danger"></span>
                    </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" asp-for="c_address" class="form-control" id="c_address" placeholder="Hotel/Property Name">
                            <label for="c_address">Hotel/Property Name</label>
                    </div>
                </div>
            </div>
            <div class="row g-2 first">
                <p class="mt-4">Concirge Location</p>
                <div class="row g-2">
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" asp-for="c_street" class="form-control" id="Street" placeholder="street">
                            <label for="Street">Street</label>
                    </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <select class="form-select" id="City" name="c_city" asp-for="c_city" asp-items="@(new SelectList(ViewBag.Region,"Name","Name"))">
                                <option value=" ">Select City</option>
                            </select>
                            <label for="City">City</label>
                            <span asp-validation-for="c_city" class="text-danger"></span>
                    </div>
                   
                            <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" asp-for="c_state" class="form-control" id="State" placeholder="State">
                            <label for="State">State</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="number" asp-for="c_zip" class="form-control" id="Zip" placeholder="ZipCode">
                            <label for="Zip">ZipCode</label>
                            <span asp-validation-for="c_zip" class="text-danger"></span>
                        </div>
</div>
                    
            </div>
            <div class="row g-2 first">
                <p class="mt-4">Patient Information</p>
                    <div class="form-group form-floating mb-3">
                        <textarea class="form-control" id="symptoms" asp-for="Symptoms" placeholder="Enter brief details of your symptoms" style="height:100px"></textarea>
                        <label for="symptoms">Enter brief details of your symptoms</label>
                        <span asp-validation-for="Symptoms" class="text-danger"></span>
                </div>
                <div class="row g-2">
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" asp-for="FirstName" class="form-control" id="First name" placeholder="First name" aria-label="First name">
                            <label for="First name">First name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" asp-for="LastName" class="form-control" id="Last name" placeholder="Last name" aria-label="Last name">
                            <label for="Last name">Last name</label>
                    </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="date" asp-for="DOB" class="form-control" id="Date of Birth" placeholder="Date of Birth" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                            <label for="Date of Birth">Date of Birth</label>
                    </div>
                </div>
            </div>
            <div class="row g-2 first">
                <p class="mt-4">Patient Contact Information</p>
                <div class="row g-2">
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="email" asp-for="Email" class="form-control" id="Email" placeholder="Email">
                            <label for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="tel" asp-for="Mobile" class="form-control" id="mobile" style="width:250%">
                          
                    </div>
                </div>
            </div>
            <div class="row g-2 first">
                <p class="mt-4">Patient Location</p>
                <div class="row g-2">
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" class="form-control" id="Room" placeholder="Room#/Suite (Optional)">
                            <label for="Room">Room#/Suite (Optional)</label>
                    </div>
                </div>
            </div>
            <div class="g-2 mt-4 first" style="text-align: right;">
                <button type="submit" class="btn btn-info text-white">Submit</button>
                <button type="button" class="btn btn-outline-info">Cancel</button>
            </div>
            </form>
        </div>
    </div>
    <script>
        const phoneInputField = document.querySelector("#mobile");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
        function darkMode() {
            var element = document.body;
            element.classList.toggle("darkMode");
        }
    </script>
</body>

</html>