@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Dasboard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css\bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/admin_dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Admin Dashboard</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white flex-column">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./../images/logo.png" height="65" width="100">
            </a>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item d-inline">
                    <p class="navbar-text">Welcome <span style="font-weight: bold;">Hardi</span></p>
                </li>
                <li class="nav-item d-inline">
                    <form class="form-inline my-2 my-lg-0 ">
                        <a class="btn btn-outline-info out back" asp-action="Login" asp-controller="Patient">Logout</a>

                        <a class="btn btn-outline-info mode" onclick="darkMode()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
                                <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                            </svg>
                        </a>

                    </form>
                </li>
            </ul>

        </div>
        <hr>
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Provider Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Providers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Access</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Records</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-3" style="width: 100%;">
        <div id="accordion">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <div class="card new" style="background-color: #dae9ff; border-color:#0d6efd; " data-bs-toggle="collapse" data-bs-target="#new">
                        <div class="card-body" style="color:  #0d6efd;">
                            <p><i class="fa fa-plus-circle" aria-hidden="true"></i>  New</p>
                            <h3>1452</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <div class="card pending" style="background-color: #ddfaff; border-color:#0dcaf0;" data-bs-toggle="collapse" data-bs-target="#pending">
                        <div class="card-body text-info">
                            <p><i class="fa fa-user" aria-hidden="true"></i>  Pending</p>
                            <h3>266</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <div class="card active" style="background-color: #ccf7d6; border-color:#28a745;" data-bs-toggle="collapse" data-bs-target="#active">
                        <div class="card-body text-success">
                            <p><i class="fa fa-check-square-o" aria-hidden="true"></i>  Active</p>
                            <h3>26</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <div class="card conclude" style="background-color: rgb(245, 210, 248); border-color:  rgb(201, 56, 214);" data-bs-toggle="collapse" data-bs-target="#conclude">
                        <div class="card-body" style="color:  rgb(201, 56, 214);">
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i>  Conclude</p>
                            <h3>1078</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <div class="card toClose" style="background-color: rgb(229, 229, 252); border-color:  rgba(14, 14, 252, 0.822);" data-bs-toggle="collapse" data-bs-target="#toClose">
                        <div class="card-body" style="color: rgba(14, 14, 252, 0.822);">
                            <p><i class="fa fa-user-times" aria-hidden="true"></i>  To Close</p>
                            <h3>519</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                    <div class="card unpaid" style="background-color: rgba(242, 219, 255, 0.822); border-color:  rgba(139, 5, 216, 0.822);" data-bs-toggle="collapse" data-bs-target="#unpaid">
                        <div class="card-body" style="color: rgba(139, 5, 216, 0.822);">
                            <p><i class="fa fa-money" aria-hidden="true"></i>  Unpaid</p>
                            <h3>16</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row d-flex mt-5 mb-3 justify-content-between">
                <h3>Patients<span style="font-size:medium; color: navy;"> (New)</span></h3>
                <ul>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Send Link
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                            <i class="fa fa-edit" aria-hidden="true"></i> Create Requests
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                            <i class="fa fa-mail-forward" aria-hidden="true"></i> Export
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                            <i class="fa fa-share-square-o" aria-hidden="true"></i> Export All
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i> Request DIY Support
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card collapse show" id="new" data-bs-parent="#accordion">
                <div class="card-head">
                    <div class="flex-row d-flex mt-2 mb-1 justify-content-between">
                        <form>
                            <div style="display: inline-block;">
                                <input type="text" class="form-control" placeholder="Search Patients" name="search">
                            </div>
                            <div style="display: inline-block;">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>All Regions</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </form>
                        <ul>
                            <button type="button" class="btn btn-outline-dark">All</button>
                            <li class="d-inline">
                                <div class="circle" style="background-color: green;"></div> Patient
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: orange;"></div> Family/Friend
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: firebrick;"></div> Business
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: #0dcaf0"></div> Concierge
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: rgba(139, 5, 216, 0.822);"></div> VIP
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="table-light">
                            <tr class="row">
                                <th class="col-2">Name</th>
                                <th class="col">Date Of Birth</th>
                                <th class="col">Requestor</th>
                                <th class="col">Requested Date</th>
                                <th class="col">Phone</th>
                                <th class="col-2">Address</th>
                                <th class="col">Notes</th>
                                <th class="col">Chat With</th>
                                <th class="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-2 bg-success text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-success text-white">Oct 29, 2022</td>
                                <td class="col bg-success text-white">Family, Patient</td>
                                <td class="col bg-success text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-success text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-success text-white">-</td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                            <tr class="row">
                                <td class="col-2 bg-primary text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-primary text-white">Oct 29, 2022</td>
                                <td class="col bg-primary text-white">Family, Patient</td>
                                <td class="col bg-primary text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-primary text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-primary text-white">-</td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card collapse" id="pending" data-bs-parent="#accordion">
                <div class="card-head">
                    <div class="flex-row d-flex mt-2 mb-1 justify-content-between">
                        <form>
                            <div style="display: inline-block;">
                                <input type="text" class="form-control" placeholder="Search Patients" name="search">
                            </div>
                            <div style="display: inline-block;">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>All Regions</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </form>
                        <ul>
                            <button type="button" class="btn btn-outline-dark">All</button>
                            <li class="d-inline">
                                <div class="circle" style="background-color: green;"></div> Patient
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: orange;"></div> Family/Friend
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: firebrick;"></div> Business
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: #0dcaf0"></div> Concierge
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: rgba(139, 5, 216, 0.822);"></div> VIP
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="table-light">
                            <tr class="row">
                                <th class="col-2">Name</th>
                                <th class="col">Date Of Birth</th>
                                <th class="col">Requestor</th>
                                <th class="col">Requested Date</th>
                                <th class="col">Phone</th>
                                <th class="col-2">Address</th>
                                <th class="col">Notes</th>
                                <th class="col">Chat With</th>
                                <th class="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-2 bg-success text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-success text-white">Oct 29, 2022</td>
                                <td class="col bg-success text-white">Family, Patient</td>
                                <td class="col bg-success text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-success text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-success text-white">-</td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                            <tr class="row">
                                <td class="col-2 bg-primary text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-primary text-white">Oct 29, 2022</td>
                                <td class="col bg-primary text-white">Family, Patient</td>
                                <td class="col bg-primary text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-primary text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-primary text-white">-</td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card collapse" id="active" data-bs-parent="#accordion">
                <div class="card-head">
                    <div class="flex-row d-flex mt-2 mb-1 justify-content-between">
                        <form>
                            <div style="display: inline-block;">
                                <input type="text" class="form-control" placeholder="Search Patients" name="search">
                            </div>
                            <div style="display: inline-block;">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>All Regions</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </form>
                        <ul>
                            <button type="button" class="btn btn-outline-dark">All</button>
                            <li class="d-inline">
                                <div class="circle" style="background-color: green;"></div> Patient
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: orange;"></div> Family/Friend
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: firebrick;"></div> Business
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: #0dcaf0"></div> Concierge
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: rgba(139, 5, 216, 0.822);"></div> VIP
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="table-light">
                            <tr class="row">
                                <th class="col-2">Name</th>
                                <th class="col">Date Of Birth</th>
                                <th class="col">Requestor</th>
                                <th class="col">Requested Date</th>
                                <th class="col">Phone</th>
                                <th class="col-2">Address</th>
                                <th class="col">Notes</th>
                                <th class="col">Chat With</th>
                                <th class="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-2 bg-warning text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-warning text-white">Oct 29, 2022</td>
                                <td class="col bg-warning text-white">Family, Patient</td>
                                <td class="col bg-warning text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-warning text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-warning text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-warning text-white">-</td>
                                <td class="col bg-warning text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-warning text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                            <tr class="row">
                                <td class="col-2 bg-primary text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-primary text-white">Oct 29, 2022</td>
                                <td class="col bg-primary text-white">Family, Patient</td>
                                <td class="col bg-primary text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-primary text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-primary text-white">-</td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card collapse" id="conclude" data-bs-parent="#accordion">
                <div class="card-head">
                    <div class="flex-row d-flex mt-2 mb-1 justify-content-between">
                        <form>
                            <div style="display: inline-block;">
                                <input type="text" class="form-control" placeholder="Search Patients" name="search">
                            </div>
                            <div style="display: inline-block;">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>All Regions</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </form>
                        <ul>
                            <button type="button" class="btn btn-outline-dark">All</button>
                            <li class="d-inline">
                                <div class="circle" style="background-color: green;"></div> Patient
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: orange;"></div> Family/Friend
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: firebrick;"></div> Business
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: #0dcaf0"></div> Concierge
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: rgba(139, 5, 216, 0.822);"></div> VIP
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="table-light">
                            <tr class="row">
                                <th class="col-2">Name</th>
                                <th class="col">Date Of Birth</th>
                                <th class="col">Requestor</th>
                                <th class="col">Requested Date</th>
                                <th class="col">Phone</th>
                                <th class="col-2">Address</th>
                                <th class="col">Notes</th>
                                <th class="col">Chat With</th>
                                <th class="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-2 bg-success text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-success text-white">Oct 29, 2022</td>
                                <td class="col bg-success text-white">Family, Patient</td>
                                <td class="col bg-success text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-success text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-success text-white">-</td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                            <tr class="row">
                                <td class="col-2 bg-dark text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-dark text-white">Oct 29, 2022</td>
                                <td class="col bg-dark text-white">Family, Patient</td>
                                <td class="col bg-dark text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-dark text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-dark text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-dark text-white">-</td>
                                <td class="col bg-dark text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-dark text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card collapse" id="toClose" data-bs-parent="#accordion">
                <div class="card-head">
                    <div class="flex-row d-flex mt-2 mb-1 justify-content-between">
                        <form>
                            <div style="display: inline-block;">
                                <input type="text" class="form-control" placeholder="Search Patients" name="search">
                            </div>
                            <div style="display: inline-block;">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>All Regions</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </form>
                        <ul>
                            <button type="button" class="btn btn-outline-dark">All</button>
                            <li class="d-inline">
                                <div class="circle" style="background-color: green;"></div> Patient
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: orange;"></div> Family/Friend
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: firebrick;"></div> Business
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: #0dcaf0"></div> Concierge
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: rgba(139, 5, 216, 0.822);"></div> VIP
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="table-light">
                            <tr class="row">
                                <th class="col-2">Name</th>
                                <th class="col">Date Of Birth</th>
                                <th class="col">Requestor</th>
                                <th class="col">Requested Date</th>
                                <th class="col">Phone</th>
                                <th class="col-2">Address</th>
                                <th class="col">Notes</th>
                                <th class="col">Chat With</th>
                                <th class="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-2 bg-danger text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-danger text-white">Oct 29, 2022</td>
                                <td class="col bg-danger text-white">Family, Patient</td>
                                <td class="col bg-danger text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-danger text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-danger text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-danger text-white">-</td>
                                <td class="col bg-danger text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-danger text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                            <tr class="row">
                                <td class="col-2 bg-primary text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-primary text-white">Oct 29, 2022</td>
                                <td class="col bg-primary text-white">Family, Patient</td>
                                <td class="col bg-primary text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-primary text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-primary text-white">-</td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-primary text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card collapse" id="unpaid" data-bs-parent="#accordion">
                <div class="card-head">
                    <div class="flex-row d-flex mt-2 mb-1 justify-content-between">
                        <form>
                            <div style="display: inline-block;">
                                <input type="text" class="form-control" placeholder="Search Patients" name="search">
                            </div>
                            <div style="display: inline-block;">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>All Regions</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </form>
                        <ul>
                            <button type="button" class="btn btn-outline-dark">All</button>
                            <li class="d-inline">
                                <div class="circle" style="background-color: green;"></div> Patient
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: orange;"></div> Family/Friend
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: firebrick;"></div> Business
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: #0dcaf0"></div> Concierge
                            </li>
                            <li class="d-inline">
                                <div class="circle" style="background-color: rgba(139, 5, 216, 0.822);"></div> VIP
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="table-light">
                            <tr class="row">
                                <th class="col-2">Name</th>
                                <th class="col">Date Of Birth</th>
                                <th class="col">Requestor</th>
                                <th class="col">Requested Date</th>
                                <th class="col">Phone</th>
                                <th class="col-2">Address</th>
                                <th class="col">Notes</th>
                                <th class="col">Chat With</th>
                                <th class="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row">
                                <td class="col-2 bg-success text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-success text-white">Oct 29, 2022</td>
                                <td class="col bg-success text-white">Family, Patient</td>
                                <td class="col bg-success text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-success text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-success text-white">-</td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-success text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                            <tr class="row">
                                <td class="col-2 bg-info text-white">Name, Patient<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                                <td class="col bg-info text-white">Oct 29, 2022</td>
                                <td class="col bg-info text-white">Family, Patient</td>
                                <td class="col bg-info text-white">Nov 16, 2023 23h 45m </td>
                                <td class="col bg-info text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>+91 6633773366</button>(Patient)</td>
                                <td class="col-2 bg-info text-white">103, Diamond parl Ahmedabad</td>
                                <td class="col bg-info text-white">-</td>
                                <td class="col bg-info text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                                <td class="col bg-info text-white"><button type="button" class="btn btn-outline-light">Action</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>