@model Hallo_Doc.Entity.ViewModel.ViewCase;
@{
    ViewData["Title"] = "View Case";
    Layout = "~/Views/Shared/_AdminActionLayout.cshtml";
}

<body class="bg-light">

    <div class="container mt-5">
        <div class="flex-row d-flex mt-5 mb-3 justify-content-between">
            <h4 style="font-weight:bold;">View Reservation</h4>

            <a class="btn btn-outline-info out back" asp-action="Admin_Dashboard" asp-controller="Admin">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg> Back
            </a>
        </div>
        <div class="content">
            <form asp-controller="Admin" asp-action="View_case" asp-route-requestId="@Model?.RequestId" method="post">
            
                <div class="row g-2 first">
                    <p class="mt-4">Patient Information</p>
                    <p style="font-size:smaller; margin-bottom: 1px;">Confirmation Number</p>
                    <h5 class="text-info" style="margin-top:2px;">MD092723TETE0002</h5>
                    
                    <div class="form-group form-floating mb-3">
                        <textarea name="SymptomsDetails" class="form-control" id="symptoms" placeholder="Patient notes" style="height: 100px" disabled></textarea>
                        <label for="symptoms">Patient Notes</label>
                    </div>
                    <hr>
                    <div class="row g-2">
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" name="FirstName" id="FirstName" asp-for="FirstName" class="form-control" placeholder="First name" value="@Model?.FirstName" aria-label="First name" disabled>
                            <label for="FirstName">FirstName</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" name="LastName" id="Lastname" asp-for="LastName" class="form-control" placeholder="Last name" value="@Model?.LastName" aria-label="Last name" disabled>
                            <label for="Lastname">Lastname</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="date" name="DOB" id="Date Of Birth" asp-for="DOB" class="form-control" value="@Model?.DOB" placeholder="Date of Birth" disabled>
                            <label for="Date Of Birth">Date Of Birth</label>
                        </div>
                        <div class="form-group form-floating col-lg-4 col-md-6 col-sm-12">
                            <input type="tel" name="Mobile" id="mobile" asp-for="Mobile" class="form-control" value="@Model?.Mobile" placeholder="123-45-67" disabled>
                        </div>
                        <div class="form-group form-floating col-lg-2 col-md-4 col-sm-6">
                            <a class="btn btn-outline-info btn-lg">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="email" name="Email" id="Email" asp-for="Email" class="form-control" value="@Model?.Email" placeholder="Email" disabled>
                            <label for="Email">Email</label>
                            <span id="email-msg"></span>
                        </div>
                    <div class="form-group form-floating col-lg-4 col-md-6 col-sm-12">
                        <button type="button" class="btn btn-outline-info btn-lg" id="editbutton" onclick="editMode()">Edit</button>
                        <button type="submit" id="submitButton" class="btn btn-info text-white btn-lg" style="display: none;">save</button>
                    </div>
                    </div>
             

                <div class="row g-2 first">
                    <p class="mt-4">Location Information</p>
                    <div class="row g-2">
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" name="Region" id="Region" asp-for="Region" class="form-control" value="@Model?.Region" placeholder="Region" disabled>
                            <label for="Region">Region</label>
                        </div>
                        <div class="form-group form-floating col-lg-4 col-md-6 col-sm-12">
                            <input type="text" name="Address" asp-for="Address" id="Business" class="form-control" value="@Model?.Address" placeholder="Business" disabled>
                            <label for="Business">Business Name/ Address</label>
                        </div>
                        <div class="form-group form-floating col-lg-2 col-md-4 col-sm-6">
                            <a class="btn btn-outline-info btn-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                            </a>
                        </div>
                        <div class="row g-2">
                            <div class="form-group form-floating col-lg-4 col-md-6 col-sm-12">
                                <input type="text" name="Room" id="Room" class="form-control" placeholder="Room" disabled>
                                <label for="Room">#Room</label>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="g-2 mt-4 first"  style="text-align: right;">
                    <a type="button" id="viewNote" class="btn btn-info text-white" asp-action="View_notes" asp-controller="Admin">View Notes</a>
                    <a class="btn btn-danger text-white" asp-controller="Admin" asp-action="CancelViewCase" asp-route-requestId="@Model?.RequestId">Cancel</a>
                    
                </div>
            </form>
        </div>
    </div>
    <script>
        function formatDate(dateString) {
            const parts = dateString.split('-');
            const formattedDate = parts[2] + '-' + parts[1] + '-' + parts[0];
            return formattedDate;
        }
        const dobElement = document.getElementById('Date Of Birth');
        dobElement.value = formatDate('@Model?.DOB');

        function darkMode() {
            var element = document.body;
            element.classList.toggle("darkMode");
        }
        function editMode() {
            var formFields = document.querySelectorAll('input, select');
            formFields.forEach(function (field) {
                field.disabled = !field.disabled;
            });
            var submitButton = document.getElementById('submitButton');
            var editButton = document.getElementById('editbutton');
            submitButton.style.display = submitButton.style.display === 'none' ? 'inline' : 'none';
            editButton.style.display = editButton.style.display === 'inline' ? 'none' : 'inline';
        }
    </script>
</body>