@model Hallo_Doc.Entity.ViewModel.ProviderLocation;
@{
    ViewData["Title"] = "Provider Location";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps.css'>
<style>
    #marker {
        background-image: url("https://cdn4.iconfinder.com/data/icons/map-location-19/512/197_Plus_Location_Map_Marker_Pin-256.png");
        background-size: cover;
        width: 35px;
        height: 40px;
    }

    #map {
        height: 65vh;
        margin-top: 4rem auto;
    }
</style>
<body class="bg-light">

    <div class="container mt-5">
        <div class="flex-row d-flex mt-5 mb-3 justify-content-between">
            <h4 style="font-weight:bold;">Provider Location</h4>

            <a class="btn btn-outline-info out back" asp-action="Admin_Dashboard" asp-controller="Admin">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg> Back
            </a>
        </div>
        <div class="content">
            <div id="map"></div>
         
        </div>
    </div>
</body>
<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps-web.min.js"></script>
<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/services/services-web.min.js"></script>
<script>

    const APIKey = "tpN90txvbZsxu8rAENFEmjY0MxEtuy92";
    var center = { lat: 23.78655, lng: 77.82323 };
    var map = tt.map({
        key: APIKey,
        container: "map",
        center: center,
        zoom: 5
    });

    var sourcearray = null;
    var sites = [];
    @if (Model != null)
    {
        foreach (var item in Model.Locations)
        {
            <text>
                console.log(sites);
            sites.push({
                lat: @item.lat,
                lng: @item.lng,
                name: '@item.PhyName @item.Address'
            });
            </text>
        }
    }
        sites.forEach(function (site) {
            var element = document.createElement("div");
            element.id = "marker";
            var marker = new tt.Marker({ element: element }).setLngLat([site.lng, site.lat]).addTo(map);
            var marker = new tt.Marker({ element: element }).setLngLat([site.lng, site.lat]).addTo(map);
            var popup = new tt.Popup({ anchor: 'top' }).setHTML("<b>" + site.name + "</b>");
            marker.setPopup(popup).togglePopup();
        });

</script>