@{
    ViewData["Title"] = "_ActiveTable";
}
<table class="table desktop-view" id="new-table">
    <thead class="table-light">
        <tr class="row">
            <th class="col">Name</th>
            <th class="col"> </th>
            <th class="col">Phone</th>
            <th class="col-2">Address</th>
            <th class="col">Action</th>
        </tr>
    </thead>
    <tbody>

        <tr class="row">
            <td class="col text-white bg-success">PatientName</td>
            <td class="col text-white bg-success"><button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>

            <td class="col text-white bg-success">
                <button type="button" class="btn btn-outline-light">
                    <i class="fa fa-phone" aria-hidden="true"></i>436545769
                </button><span>(Patient)</span>

            </td>
            <td class="col-2 text-white bg-success">Address</td>
            <td class="col text-white bg-success">
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="action">
                        <a class="dropdown-item" asp-action="View_case" asp-controller="Admin" asp-route-requestId="RequestId"><i class="fa fa-file-text" aria-hidden="true"></i> View Case</a>
                        <a class="dropdown-item" asp-action="View_notes" asp-controller="Admin" asp-route-RequestId="RequestId"><i class="fa fa-file-o" aria-hidden="true"></i> View Notes</a>
                        <button type="button" class="dropdown-item block-case"><i class="fa fa-ban" aria-hidden="true"></i> Block patient</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<div class="accordion accordion-flush mobile-view lo-btn" style="width: 100%;">

    <div class="accordion-item">
        <button style="padding-right: 0;" class="accordion-button collapsed bg-info-subtle"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                aria-expanded="false" aria-controls="flush-collapseFive">

            <div style="font-size: small;" class="row w-100">

                <div class="col-4 p-0">
                    <p>PatientName</p>
                </div>
                <div class="col-4"></div>
                <div style="text-align: right;" class="col-4">
                    <div class="circle" style="background-color: green;"></div> Patient
                </div>
                <div class="col-6 p-0">
                    <p>Address</p>
                </div>
                <div style="text-align: right;" class="col-6">
                    <span style="font-size: small;" type="button"
                          class="btn btn-outline-info rounded-4">
                        Map
                        Location
                    </span>
                </div>
                <div class="col-12 p-0">
                    <p>
                        <i class="fa-regular fa-clock text-info"></i> wait Time: <span style="font-weight:bold">Dec 5, 2023 08:52 AM(641:59)</span>
                    </p>
                </div>

            </div>

        </button>

        <div id="flush-collapseFive" class="accordion-collapse collapse bg-info-subtle"
             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">

            <div style="text-align: right;" class="col-11">
                <a style="font-size: small;" asp-action="View_case" asp-controller="Admin" class="btn btn-outline-dark rounded-4">View Case</a>
            </div>

            <div class="accordion-body">
                <div class="row">

                    <div class="col-12 px-0 pb-1">
                        <i class="fa-solid fa-envelope border border-info rounded-circle p-1"></i>
                        Email: Email
                    </div>
                    <div class="col-12 px-0 pb-1">
                        <i class="fa-solid fa-phone border border-info rounded-circle p-1"></i>
                        Patient: PatientMobile
                    </div>

                    <div class="col-6 px-0 my-1">
                        <a style="font-size: x-small;" asp-action="View_notes" asp-controller="Admin" class="btn btn-success ml-1 py-1 border rounded-4 w-75">View Notes</a>
                    </div>
                    <div class="col-6 px-0 pb-1 my-1">
                        <button style="font-size: x-small;" data-bs-toggle="modal" data-bs-target="#blockCaseModel" type="button" class="btn btn-danger ml-1 py-1 border rounded-4 w-75">Block Patient</button>
                    </div>
                    <div class="col-6 px-0 my-1">
                        <a style="font-size: x-small;" href="" class="btn btn-success ml-1 py-1 border rounded-4 w-75">Email</a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
