
.container{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto; 
   width: 100%;
}
.content{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-item {
    padding: 1rem;
}

.dropdown-item:hover {
        color: #54B4D3;
        background-color: #e9f4f7;
}

.ptxt {
    font-size: smaller;
}
.nav-link:active {
    color: #17a2b8;
}

.navbar-toggler {
    color: #17a2b8;
}

.nav-tog-btn {
    border: 1px solid #17a2b8;
    height: 40px;
    width: 40px;
}

.dnone {
    display: none;
}
.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    background-color: #000 !important;
    opacity: 0.3 !important;
}
h3{
    font-weight: bolder;
}
#btnContent {
    margin: 10px;
}

button[data-btn="New"]:focus {
    background-color: #0d6efd !important;
    color: white !important;
    outline: none ;
}
button[data-btn="Pending"]:focus {
    background-color: #0dcaf0 !important;
    color: white !important;
    outline: none !important;
}
button[data-btn="Active"]:focus {
    background-color: #28a745 !important;
    color: white !important;
    outline: none !important;
}
button[data-btn="Conclude"]:focus {
    background-color: rgb(201, 56, 214) !important;
    color: white !important;
    outline: none !important;
}
button[data-btn="ToClose"]:focus {
    background-color: rgba(14, 14, 252, 0.822) !important;
    color: white !important;
    outline: none !important;
}
button[data-btn="Unpaid"]:focus {
    background-color: rgba(139, 5, 216, 0.822) !important;
    color: white !important;
    outline: none !important;
}
.circle { 
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    margin: auto; 
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .mobile-view
{
    display: none;
}

}

@media screen and (max-width: 767px) {
    .desktop-view
{
    display: none;
}
    .dash-btn {
        display:none;
    }
    .search-nav {
        display:block;
    }
    body{
        width: 100%;
    }
    .dblock{
        display:none;
    }
    .dnone {
        display: inline;
    }
}
