
.container{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto; 
   width: 100%;
}

.content{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-link:active {
    color: #17a2b8;
}

.navbar-toggler {
    color: #17a2b8;
}

.nav-tog-btn {
    border: 1px solid #17a2b8;
    height: 40px;
    width: 40px;
}

.dnone {
    display: none;
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    background-color: #000 !important;
    opacity: 0.3 !important;
}
h3{
    font-weight: bold;
}
p{
    font-weight:bold;
}
.darkMode .content {
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(256, 256, 256, 0.2), 0 6px 20px 0 rgba(256, 256, 256, 0.19);
}

.darkMode .container {
    background-color: black;
    color: white;
}

.darkMode th {
    background-color: black;
    color: white;
}

.darkMode td {
    background-color: black;
    color: white;
}
footer{
    background-color: rgb(39, 38, 38);
    text-align: right;
    padding: 20px;
    margin-top: 60px;
}
.dnone {
    display: none;
}
@media screen and (max-width: 767px) {
  
    .dblock {
        display: none;
    }

    .dnone {
        display: inline;
    }
}