@{
    ViewData["Title"] = "Access Denied";
}
<div class="container" style="text-align:center">
    <h1>Access Denied</h1>
    <p>This happens because you are trying to access page which is not allowed to you access.</p>
    <p>For more details and get access of this page contact Administrator of this plateform.</p>
</div>
