
@{
    ViewData["Title"] = "Agreement";
}
<div class="container-fluid m-5">
<div class="container p-5">
    <h3>
        To provide best medical service, we cannot determine the cost right away. If you agree to our service, 
        so we will provide care and follow-up until all care is completed. So with this points, 
        if you like us to provide care to you click on "Agree" and we'll get started immediately, 
        if you do not agree simply click "Cancel".
    </h3>
    <div class="container p-5">
            <form class="d-flex justify-content-between" asp-action="Accept" asp-controller="Home">
                <input type="hidden" name="RequestID" value="@TempData["RequestID"]" />
                <button type="submit" class="btn btn-success">I Agree</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#Reject" class="btn btn-danger">Cancel</button>
    </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Reject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Concellation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Reject" asp-controller="Home" class="needs-validation" novalidate>
                <input type="hidden" value="@TempData["RequestID"]" name="RequestId" />

                <div class="modal-body">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">Patient Name : <span class="text-info"> @TempData["PatientName"] </span></h3>


                    <div class="inputs-control w-100 mt-2">
                        <textarea id="changenote" placeholder=" " name="Notes" rows="5" class="input-outline w-100  " type="text" required></textarea>
                        <span class="invalid-feedback">
                            Please provide valid reason.
                        </span>
                        <label class="inputs-lable inputs-lable-textarea " id="notedata">Provide Brif Information why you want to Cancel</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class=" btn btn-info text-white">Confirm</button>
                    <a class="btn btn-outline-info" data-bs-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>