@model Hallo_Doc.Entity.ViewModel.ForgotPassword;
@{
    ViewData["Title"] = "ForgotPassword";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css\bootstrap.min.css" rel="stylesheet">
    <link href="~/css/patient_login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="container" id="bg-image">
        
        <div class="row justify-content-center align-items-center h-100">
            
            <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">

                <a onclick="darkMode()" class="btn btn-outline-info mode">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"/>
                    </svg>
                </a>
                <div class="logo" style="text-align:center"><img src="./../images/logo.png"></div>
                    
                        <a class="btn btn-outline-info out mb-4" id="back" asp-action="Login" asp-controller="PatientUser" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                            </svg> Back
                        </a>
                        <h3 style="text-align:center" class="mb-4">Reset Your Password</h3>
                <div class="login-form">
                    <form asp-controller="Login" asp-action="ForgotPassword" method="post">
                        <div class="form-group form-floating mt-3">
                            <input type="email" asp-for="Email" name="Email" id="Email" class="form-control" placeholder="Email" required>
                            <label for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div style="text-align:center">
                            <button type="submit" class="btn btn-info btn-block btn-lg mb-4" style="width: 100%; color: white;">Reset Password</button>
                            <a asp-action="Login" asp-controller="Login" style="color: #0dcaf0;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                </svg> Back to login
                            </a>
                        </div>
                            
                    </form>
                </div>
       
            </div>
         
        </div>
    
    </div>
    <script>
        function darkMode() {
            var element = document.body;
            element.classList.toggle("darkMode");
        }
        
    </script>
</body>

</html>
